In [3]:
import pandas as pd
a = [-1, 2.5, -3, 5, -2, 8, 17]
s1 = pd.Series(a) # transformation en une série
s1
s1.values # valeurs de s1
s1.index
s1.index.values # valeurs des index
s1[1]
s1[1:4] # valeurs de l'indice 1 à 3
s1[[1,3,5]]
s1[s1 < 0] # val inf à 0
tags = list("ABECIDF")
tags
s2 = pd.Series(a, index=tags) # personnaliser index
s2
s2.values
s2.index
s2.index.values
s2[1]
s2[1:4]
s2[[1,3,5]]
s2[s2 < 0]
s2['A':'D']
s2[['A', 'B', 'C']]

A   -1.0
B    2.5
C    5.0
dtype: float64

Modification des données

In [4]:
s1[1] = 42
s1[2:] = 13
s1[13] = -24
s1.index
s1.index.values
s2['A'] = 13
s2[2] = 37
s2.F = -53
s2['G'] = 1.25
#s2[14] = 5 ne marche pas car on peut pas modifier de valeur à un index qui n'existe pas
s2.index.values
s2[s2%2==1] = 0
#s2

Autres bibliothèques

In [5]:
import numpy as np
import random
tmps = pd.date_range("2020-06-07", periods=13, freq='Q')
tmps
valeurs = np.random.rand(tmps.size)
valeurs
s3 = pd.Series(valeurs, index=tmps)
s3
s3.index
s3.index.values
tmps = pd.timedelta_range("15H", periods=7, freq="1H15T") #  à partir de 15h ajouter 1h15min
tmps
valeurs = np.random.rand(tmps.size)
s4 = pd.Series(valeurs, index=tmps)
s4
tmps = pd.date_range("2021", end='2021-03', freq='W') # ajouter en semaines
tmps
s5 = pd.Series(random.choices([0,1], k=tmps.size), index=tmps)
s5

2021-01-03    0
2021-01-10    1
2021-01-17    1
2021-01-24    1
2021-01-31    1
2021-02-07    1
2021-02-14    1
2021-02-21    0
2021-02-28    1
Freq: W-SUN, dtype: int64

Créez une série indexée sur les journées de janvier et février 2020 et dont les valeurs
sont positives pour la première quinzaine du mois, négatives pour la seconde
quinzaine du mois
créez une seconde série avec les mêmes index, mais les valeurs seront aléatoirement
prises dans 1,2,3
affichez la première série si la valeur dans la seconde série est impaire

In [6]:
# Janvier et février
tmps = pd.date_range(start='2020-01-01', end='2020-02-29')
tmps
values = [1 if v.day <= 15 else -1 for v in tmps]
s4 = pd.Series(values, index=tmps)
s4

# Valeurs aléatoires 1,2,3
values = [np.random.randint(1, 4) if v.day <= 15 else -np.random.randint(1, 4) for v in tmps]
s5 = pd.Series(values, index=tmps)
s5

# affichage selon la parité
for i in range(len(s5)):
    if s5[i] % 2 != 0:
        print(s4[i])

1
1
1
1
1
1
1
1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
1
1
1
1
1
1
1
1
1
1
-1
-1
-1
-1
-1
-1
-1
-1

In [7]:
m = [ [1,2,3], [4,5,6], [2,-2,2], [0,0,1]]
df = pd.DataFrame(m)
df
df.index
df.index.values
df.columns
df.columns.values
df.values
df.ndim # tableau 2D
df.size
df.shape # taille
df[1] # toutes les valeurs de la colonne 1
df[1:] # affichage des valeurs aux index 1,2,3

df.T # ss forme matricielle
df.T[2] # indice aux lignes
df.T[1:]
df.T[1:].T
df.loc[2]
df.loc[:,1:]

df[[2,0]] # afficher valeurs à l'indice 2, et ceux à l'indice 0 par colonne
df[df%3==1] # afficher que les valeurs dont le modulo 3 renvoie 1
df.columns=list("ABC")
df.index=list("aeio")
df
df.A
df['A']
df.loc['e':] # afficher les valeurs à partir de l'indice 'e'
df.iloc[1:3] # afficher les valeurs de l'indice 1 à 3 correspondant aux indices d'étiquette

   A  B  C
e  4  5  6
i  2 -2  2

- Utilisation de dictionnaires regroupant plusieurs séries
- La lecture de fichier

In [8]:
dates = pd.date_range("2020-01", end="2022-06", freq="W-MON")
categories = "trottinette vélo voiture marche tram bus train".split()
true_false = (dates.month > 3) * (dates.month < 7) # récolter deux tableaux et multiplier les booléens entre eux 
delay = (pd.Timestamp('now') - dates).round('D')
big_df = pd.DataFrame({'mobility':
     pd.Categorical(random.choices(categories, k=dates.size)), 'start': 0,
     'stop': 0.1 * np.array(random.choices(list(range(100)), k=dates.size)),
     'delay':delay, 'date':dates, 'target':true_false})

Lecture CSV, commandes

In [9]:
ventes = pd.read_csv("sales.csv") # help(pd.read_csv) pour les options

big_df.head()
big_df.head(2)
big_df.tail()
big_df.tail(2)
big_df.info()
big_df.describe() # afficher stats
big_df.describe(include='all')
big_df.mobility.unique() # valeurs uniques possibles

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mobility  126 non-null    category
 1   start     126 non-null    int64
 2   stop      126 non-null    float64
 3   delay     126 non-null    timedelta64[ns]
 4   date      126 non-null    datetime64[ns]
 5   target    126 non-null    bool
dtypes: bool(1), category(1), datetime64[ns](1), float64(1), int64(1), timedelta64[ns](1)
memory usage: 4.7 KB

C:\Users\a\AppData\Local\Temp\ipykernel_8876\3528680152.py:9: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  big_df.describe(include='all')

['tram', 'voiture', 'marche', 'train', 'bus', 'vélo', 'trottinette']
Categories (7, object): ['bus', 'marche', 'train', 'tram', 'trottinette', 'voiture', 'vélo']

Dans big_df combien y-at-il de données telles que 'mobility' soit trottinette. Quelle
est la valeur moyenne de 'delay' pour ces valeurs ? Quelle est la valeur du premier
quartile de 'delay' ? Quel est le maximum de la variable 'stop' ?

In [10]:
big_df[big_df['mobility'] == 'trottinette'].describe()
big_df['delay'].describe()
big_df['stop'].describe()

count    126.000000
mean       5.204762
std        2.911381
min        0.100000
25%        3.025000
50%        5.050000
75%        7.700000
max        9.900000
Name: stop, dtype: float64

Ajout, suppression

In [11]:
big_df.shape
big_df['OH'] = range(big_df.shape[0], 0, -1)
big_df['carre'] = big_df.stop**2
big_df['couleur'] = pd.Series({0:'green', 25:'yellow', 100:'red'})
big_df.head(10) # equivalent à big_df[:10]
big_df.drop('carre', axis=1)
big_df.columns
big_df.drop(2)
big_df.head()
big_df.drop('carre', axis=1, inplace=True)
big_df.columns
big_df.drop(2, inplace=True)
big_df.head()
big_df.iloc[2] = {'mobility': 'vélo','stop':42} # pd.__version__ > 1
big_df.head()
big_df.iloc[2,3] # NaT Not a Time
big_df.iloc[2,3] = pd.Timedelta('200 days 01:01:01')
big_df.iloc[2]
ventes['cout'] = ventes['TV']+ventes['Radio']+ventes.Newspaper
ventes.head()

big_df['couleur'].fillna('black')
big_df['couleur'].fillna(method='ffill')
big_df['couleur'].fillna(method='bfill')
big_df['stop'].fillna(big_df.stop.mean())

0       3.1
1       7.1
3      42.0
4       1.5
5       4.7
       ...
121     4.2
122     6.3
123     1.5
124     8.2
125     8.3
Name: stop, Length: 125, dtype: float64

Pour la série 'couleur' de big_df donnez les valeurs obtenues par les méthodes .count
et .value_counts ; puis appliquez les 3 remplacements (par une valeur, en utilisant
ffill , en utilisant bfill ) et donnez les scores que vous obtenez
Dans la table ventes ajoutez une colonne "facteur" qui soit le ratio entre les colonnes
"Sales" et "TV". Quelles sont les statistiques pour la série "facteur" ? Quelle est la valeur du
dernier quartile ?
Quelle est la commande pour supprimer dénitivement la colonne "facteur" ?
Comment supprimer les données de la table ventes qui ont une valeur "TV" , sans
impacter la table ventes ?
On souhaite rajouter une colonne 'budget_pub' dans la table ventes qui contiennent 'gros'
si la valeur "TV" est , 'moyen' si la valeur est , 'bas' sinon

In [15]:
big_df.couleur.count()
big_df.couleur.value_counts()
#big_df
big_df['couleur'].fillna('black')
big_df['couleur'].fillna(method='ffill')
big_df['couleur'].fillna(method='bfill')
big_df
ventes['facteur'] = ventes.Sales / ventes.TV
ventes.facteur.describe()
ventes.drop('facteur', axis=1, inplace = True)
ventes.columns

ventes.drop(ventes[ventes.TV > 50].index)
ventes

ventes.loc[ventes["TV"] > 100, "budget_pub"] = "moyen"
ventes.loc[ventes["TV"] > 200, "budget_pub"] = "gros"
ventes.loc[ventes["TV"] <= 100, "budget_pub"] = "bas"

ventes

        TV  Radio  Newspaper  Sales   cout budget_pub
0    230.1   37.8       69.2   22.1  337.1       gros
1     44.5   39.3       45.1   10.4  128.9        bas
2     17.2   45.9       69.3   12.0  132.4        bas
3    151.5   41.3       58.5   16.5  251.3      moyen
4    180.8   10.8       58.4   17.9  250.0      moyen
..     ...    ...        ...    ...    ...        ...
195   38.2    3.7       13.8    7.6   55.7        bas
196   94.2    4.9        8.1   14.0  107.2        bas
197  177.0    9.3        6.4   14.8  192.7      moyen
198  283.6   42.0       66.2   25.5  391.8       gros
199  232.1    8.6        8.7   18.4  249.4       gros

[200 rows x 6 columns]